APP_NAME=StatusWatch
APP_ENV=development

POSTGRES_DB=statuswatch
POSTGRES_USER=statuswatch
POSTGRES_PASSWORD=change_me
DATABASE_URL=postgresql+psycopg://statuswatch:change_me@db:5432/statuswatch
REDIS_URL=redis://redis:6379/0

JWT_SECRET=032ff5b2f8b6e619523f36bdf15db2ed37ff537c40cfd0ad0064ebe68fbcceba
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
